body, html {
    height: 100%;
    margin: 0;
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Engaging gradient background */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.site-header {
    padding: 80px 20px;
    background: rgba(0, 0, 0, 0.4); /* Slight dark overlay to enhance text visibility */
    margin-bottom: 50px; /* Separation from login box */
    color: #d59ff5; /* Purple-toned pink for better visibility */
}

.container {
    max-width: 960px;
    margin: auto;
}

.login-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    padding: 40px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2); /* Translucent background to focus attention on button and text */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 300px;
}

.login-title, .login-subtitle {
    color: #d59ff5; /* Purple-toned pink for text to enhance readability */
}

.login-btn {
    
    color: #7d0cc8;
    border: none;
    padding: 12px 24px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.login-btn:hover {
    background-color: #3c107a;
    transform: scale(1.1); /* Enhance the button on hover for interaction feedback */
    color: #d59ff5;
}
a {
    color: #d59ff5; /* Purple-toned pink for text to enhance readability */
    text-decoration: none;
}
a:hover {
    color: #d59ff5;
}